body{
   margin: 50px 0 0 50px;
   background: #F5F5F5;
}
.block{
    display: inline-block;
    margin: 0 150px 50px 0;
    text-align: center;
    width: 150px;
    height: 150px;
}
a{
  text-decoration: none;
}
img{
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.5);
    margin-bottom: 5px;
    width: 100%;
    height: 80%;
}
a:hover > img {
    box-shadow: -1px -1px 10px rgba(0,0,0,0.5);
}